/*
* @Author: Administrator
* @Date:   2017-10-25 18:43:00
* @Last Modified by:   Administrator
* @Last Modified time: 2017-10-25 20:04:56
*/
.xxnr {
    line-height: 25px;
    width: 708px;
    height: auto;
    overflow: hidden;
    padding: 15px;
    padding-bottom: 30px;
}
.zdg {
    height: auto;
    overflow: hidden;
}
.xxnr p {
    line-height: 24px;
}

.Nfirst {
    height: 135px;
    width: 708px;
       float: left;
    position: relative;
}


.Nfirst dt {
    height: 128px;
    width: 178px;
  
    margin-right: 13px;
}
.Nfirst .Ntitle {
    position: absolute;
    top: 0;
    right: 0;
    height: 28px;
    float: right;
    font-size: 14px;

}

.Nfirst .Ndate {
position: absolute;
top: 30px;
right: 0;
    color: #999999;
    line-height: 28px;
    height: 28px;
}
.Nfirst .Nnr {
    height: 66px;
    line-height: 22px;
}
.Nfirst dd {
    float: left;
    width: 512px;
}
.Nfirst dt img {
    border: 2px solid #ccc;
}

.newslis {
    width: 708px;
    padding-bottom: 10px;
    font: normal 14px "微软雅黑";
}
.clear {
    clear: both;
}

.newslis li {
    height: 35px;
    line-height: 35px;
    border-bottom: 1px dashed #ccc;
    width: 692px;
        list-style: none;
    border: none;
    padding-left: 16px;
}
.newslis li a {
    color: #666;
}
a {
    color: #707070;
    text-decoration: none;
    cursor: pointer;
}